html {
    background-color: bisque;
}

body {
    margin: 0;
}

.site-header {
    background-color: burlywood;
    padding: 30px;
    margin-bottom: 20px;

    color: rgb(148, 116, 74);
    font-size: large;
}

.page-name {
    margin: 0;
}

.nav {
    list-style: none;
    margin-left: -40px;
}

.nav-links {
    color: rgb(141, 90, 27);
}

.main-content {
    background-color: rgb(218, 175, 161);
    padding: 30px;
    margin-bottom: 20px;

    color: rgb(141, 87, 71);
}

.site-footer {
    background-color: rgb(169, 210, 220);
    padding: 30px;

    color: rgb(66, 119, 132);
}

.callout {
    font-weight: 800;
}