html {
    background-color: bisque;
}

body {
    margin: 0;
}

.site-header {
    background-color: burlywood;
    padding: 30px;
    margin-bottom: 20px;

    color: rgb(148, 116, 74);
    font-size: large;
}

.page-name {
    margin: 0;
}

.nav {
    list-style: none;
    margin-left: -40px;
}

.nav-links {
    color: rgb(141, 90, 27);
}

.main-content {
    background-color: rgb(177, 218, 161);
    padding: 30px;
    margin-bottom: 20px;

    color: rgb(72, 97, 62);
}

.site-footer {
    background-color: rgb(221, 235, 138);
    padding: 30px;

    color: rgb(116, 128, 43);
}

.callout {
    font-weight: 800;
}